.post-container {
    max-height: 955px;
    border: var(--border-gray) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.post-header {
    height: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.post-header .post-username {
    color: black;
}

.post-username:visited {
    color: black;
}
#post-header-left {
    display: flex;
    align-items: center;
}

#post-header-links {
    display: flex;
    align-items: center;
}

#post-header-follow {
    display: list-item;
    list-style-type: disc;
    margin-left: 30px;
    color: #0095F6;
}
#post-header-follow::marker {
    color: black;
}
#post-header-follow:hover {
    cursor: pointer
}


.feed-profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0px 20px 0px 10px;
    object-fit: cover;
    cursor: pointer;
}

.post-header .profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-header i {
    font-size: 20px;
    /* margin-right: 20px; */
}

.post-footer {
    max-height: 221px;
    width: 100%;
    padding: 0 10px;
}

.post-image {
    max-height: 727px;
    min-height: 614px;
    width: 100%;
    object-fit: cover;
}
