.view-all-anchor:hover{
    cursor: pointer;
}

.view-all-anchor{
    color: rgba(var(--f52,142,142,142),1);
}


.comment1 a,
.comment2 a{
    font-weight: bold;
    font-size: 14px;
}


.comment1 a:hover,
.comment2 a:hover{
    text-decoration: underline;
    color:black;
}

.comment1 a:visited,
.comment2 a:visited{
    color:black;
}
