.view-all-anchor:hover{
    cursor: pointer;
}

.view-all-anchor{
    color: rgba(var(--f52,142,142,142),1);
    font-size: 14px;
}

.view-more{
    color: rgba(var(--f52,142,142,142),1);
}

.view-more:hover{
    cursor: pointer;
}

.comment1-navlink,
.comment2-navlink{
    margin-right:5px;
}

.comment1,
.comment2{
    display:flex;
    font-size:14px;
    white-space:normal;
}

.comment1-div,
.comment2-div{
    /* word-break:break-word; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nonwrap;
}

.comment1 a,
.comment2 a{
    font-weight: bold;
    font-size: 14px;
}


.comment1 a:hover,
.comment2 a:hover{
    text-decoration: underline;
    color:black;
}

.comment1 a:visited,
.comment2 a:visited{
    color:black;
}
