
.profile-page-container {
    display: flex;
    flex-direction: column;
    max-width: 975px;
    margin-top: 60px;
}

.profile-header {
    display:flex;
    flex-direction: row;
    align-items: center;
    border-bottom: var(--border-gray) 1px solid;
    width: 100%;
    height:275px;
}

.profile-nav {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;

}

#profile-unfollow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 20px;
    height: 30px;
    width: 73px;
    border: 1px solid rgb(219,219,219);
    border-radius: 4px;
}

#profile-unfollow-btn:hover {
    cursor: pointer;
}


.grid-item-container {
    position: relative;
}

.profile-grid-image {
    margin: 12px;
    height: 293px;
    width: 293px;
    object-fit: cover;
}
.grid-item-overlay {
    position: absolute;
    /* margin: 12px; */
    top: 0;
    margin: 12px;
    /* left: 0; */
    height: 293px;
    width: 293px;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.336);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.grid-item-overlay * {
    color: white;
}

.grid-item-overlay i {
    margin-left: 20px;
    margin-right: 7px;
}

.grid-item-overlay span {
    margin-right: 20px;

}

.profile-header-pic-container {
    width: 291px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0 ;
}

.header-profile-pic {
    height: 168px;
    width:168px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-username {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
    color:#262626;
    padding-right: 15px;
}

.edit-profile {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color:#262626;
    background-color: transparent;
    width: auto;
    height:30px;
    border-radius: 4px;
    box-shadow: none;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    text-overflow: ellipsis;
    display: block;
    box-sizing: border-box;
    margin-top: 7px;
    border: var(--border-gray) 1px solid;
}


.posts-number {
    width:80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.followers {
    cursor: pointer;
    width:100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.following {
    cursor: pointer;
    width:100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top-column {
    display: flex;
    margin-bottom: 8px;
    width:100%;
}

.bot-column {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color:#262626;
    background-color: #fafafa;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.header-info {
    display:flex;
    flex-direction: column;
}

.mid-column {
    display:flex;
    flex-direction: row;
    margin-top: 8px;
    margin-bottom: 8px;
}
