/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oleo+Script&display=swap');

:root {
    --main-background-color: #fafafa;
    --border-gray: rgb(214, 214, 214);
    --button-blue: #0095f6;
    --highlight-gray: rgb(249, 249, 249);
}


* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: var(--main-background-color);
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.error-handling {

    color: rgb(237,73,86);
    font-size: 14px;
}
