/* TODO Add site wide styles */

:root {
    --main-background-color: #fafafa;
    --border-gray: rgb(214, 214, 214);
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    margin: 0;
}

li {
    list-style-type: none;
}
