/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --main-background-color: #fafafa;
    --border-gray: rgb(214, 214, 214);
    --button-blue: #0095f6;
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--main-background-color);
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}
