.notification-container {
    width: 100%;
    height: 68px;
    /* border: blue solid 1px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    /* min-height:  */
}

.notifications-dropdown > p {
    margin: 0;
    padding-left: 6px;
    font-size: 14px;
    font-weight: 500;
}

.notification.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.notification.user-info img {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}



.notification.user-info p,
.notification.user-info .notification-username {
    font-size: 14px;
    padding: 2px;
    color: black;
}

.notification.user-info .notification-username {
    font-weight: bold;
}

.notification-container .post-notification-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.notification-container button {
    margin-right: -3px;
    padding: 0;
}

.comment-notification-box {
    text-overflow: ellipsis;
    border: red 1px solid;
}

.comment-notification {
    overflow: hidden;
    max-width: 260px;
    text-overflow: ellipsis;
}

.notifications-placeholder {
    margin-top: auto;
    margin-bottom: auto;
    align-self: center;
    font-size: 14px;
}
