#dashboard-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);

}

.feed-container {
    width: 614px;
    display: flex;
}
