.follower-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.follower-heading {
    border-bottom: var(--border-gray) 0.5px solid;
    font-size: 16px;
    color: #262626;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 500;
}

.x-btn {
    height:25px;
    width:25px;
    object-fit: cover;
    display:flex;
    align-items: flex-end;
    margin-right: 5px;
    cursor: pointer;
}

.x-btn-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;

}

.follower-title {
    display: block;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-left: 10px;
    margin-bottom: 5px;
}


.follower-modal-container {
    width: 400px;
    max-height: 350px;
    min-height:200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    border-radius: 25px;
}

.follower-info {
    display:flex;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 8px;
}

.modal-img {
    margin-right: 15px;
    margin-top: 2px;
    height: 33px;
    width:33px;
    border-radius: 50%;
    object-fit:cover;
}

.link {
    font-size: 14px;
    color: #262626;
    font-weight: bold;
}
.link:visited {
    color: #262626;
}

.modal-fullname {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #8e8e8e;
}

.modal-follow {
    background-color: #0095F6;
    font-size: 14px;
    height: 30px;
    width: 65px;
    color: white;
    border: none;
    margin: 0px 16px 0px 20px;
    border-radius: 4px;
    font-weight: 600;
}

.modal-following {
    border: 1px solid rgb(215,215,215);
    background-color: white;
    height: 30px;
    width: 85px;
    border-radius: 4px;
    margin-right: 16px;
    font-weight: 500;
}
