.edit-pro-pic-container {
    width: 400px;
    max-height: 250px;
    min-height:100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
}

.profile-pic-mini {
    height: 60px;
    width:60px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edit-pro-pic-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    border-bottom: 1px solid var(--border-gray);
}

.profile-photo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.edit-btn {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:50px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-gray);
}

.edit-btn:hover {
    cursor: pointer;
}

.cancel-btn {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:50px;
    padding-top: 15px;
    border-bottom: 1px solid var(--border-gray);
}

.cancel-btn {
    cursor: pointer;
}
