#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1; */
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-background.layer {
  background-color: rgba(0, 0, 0, 0.849);

}

#modal-content {
  /* position: absolute; */
  background-color:rgb(255, 255, 255);
  border-radius: 7px;
  z-index: 1;
}
