#nav-bar {
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    background-color: white;
    border: 1px solid var(--border-gray);
}

.profile-button-container {
    position: relative;
}

.profile-button {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-dropdown {
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: .1px .1px 3px 1px rgba(0, 0, 0, 0.137);
}

.title-logo {
    height: 50px;
}

#nav-bar .upload-button-container {
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding-top: 1px;
    /* margin-bottom: 5px; */
    height: 22px;
    width: 22px;
    margin: 0 9px;
    margin-bottom: 2px;
}



#nav-bar .upload-button {
    font-size: 17px;
}

#nav-bar .likes-dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: red 1px solid; */
    height: 22px;
    width: 22px;

}

.likes-dropdown-container .like-icon {
    font-size: 23px;
}

.nav-bar.right-section {
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav-bar.right-section * {
    margin: 0 6px;
    cursor: pointer;
}
