

.post-view-comments{
    display:flex;
    flex-direction: column;
    height:600px;
}



.post-view-user-img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin-right:12px;
    object-fit:cover;
}


.comment-shell{
    display:flex;
    align-items: center;
    margin-top:16px;
    margin-right:16px;
    margin-bottom:16px;
}


.post-view-comments ul{
    overflow:scroll;
    min-height: 500px;
}

.post-view-comments ul::-webkit-scrollbar {
    display: none;

}

.post-view-comments a{
    font-weight:bold;
    margin-right:6px;
}

.post-view-comments a:visited{
    color:black;
}

/* .modal-icons i {
    margin-right: 5px;
} */

.comment-shell span{
    white-space: normal;
    max-width: 120px;
}

.time-and-menu{
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.time-and-menu #ghost{
    visibility: hidden;
}
