

.post-view-comments{
    display:flex;
    flex-direction: column;
    height:600px;
}


.post-view-user-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right:12px;
    object-fit:cover;
}


.comment-shell{
    display:flex;
    margin-top:16px;
    margin-right:16px;
    margin-bottom:16px;

}

.caption-shell{
    display:flex;
    margin-top:16px;
    margin-right:16px;
    margin-bottom:16px;
    padding-bottom:21px;
}


.post-view-comments ul{
    overflow:scroll;
/*     min-height: 500px; */
    height:525px;
    padding-left:15px;
}

.post-view-comments ul::-webkit-scrollbar {
    display: none;

}

.post-view-comments a{
    font-weight:bold;
    margin-right:6px;
}

.post-view-comments a:visited{
    color:black;
}

/* .modal-icons i {
    margin-right: 5px;
} */

.comment-shell span{
    white-space: normal;
    max-width: 235px;
}

.caption-shell span{
    white-space: normal;
    max-width: 235px;
}


.time-and-menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:5px;
    padding-left:103px;
    width: 315px;
}

.time-and-menu #ghost{
    visibility: hidden;
}

.time-passed{
    color:#8e8e8e;
    font-size: 14px;
    visibility:hidden;
}

#profile-like-button {
    padding-left: 16px;
    padding-top: 1px;
}

#profile-likes-number{
    padding-left: 10px;
    padding-top: 10px;
}
