
#post-form-container {
    width: 755px;
    height: 755px;
    display: flex;
    flex-direction: column;
    border-radius:  7px;
    background-color: white;
    transition: .5s;
}

#post-form-container.final-form {
    width: 941px;
    height: 641px;

}

.upload-post-form {
    /* justify-self: center; */
    display: flex;
    flex-direction: column;
    padding: 27px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: relative;
}

.upload-post.header {
    height: 42px;
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
    align-items: center;
    border-bottom: 1px solid var(--border-gray);
    font-family: 'lato', sans-serif;
}

.upload-post .fa-arrow-left {
    font-size: 25px;
    cursor: pointer;
}

.upload-post .next-button {
    color: var(--button-blue);
    cursor: pointer;
}

#post-form-container .upload-image.view {
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.upload-form-container.final {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#post-form-container .image-container {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#post-form-container .upload-image.form {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-form.side-container {
    width: 340px;
    display: flex;
    flex-direction: column;
}

.post-form.user-info {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 15px;
}

.post-form.profile-picture {
    height: 28px;
    width: 28px;
    object-fit: cover;
    border-radius: 50%;
}

.post-form.username {
    font-weight: bold;
    padding-left: 10px;
}


#post-form-container h3 {
    font-weight: normal;
    text-align: center;
    width: 100%;
}

.upload-post-form label {
    padding: 10px 30px;
}

.upload-post-form input,
.upload-post-form textarea,
.upload-post-form button {
    height: 45px;
    margin: 0 30px;
    border-radius: 6px;
    border: 1px solid var(--border-gray);
}

.upload-form textarea {
    padding: 10px;
    width: 340px;
    height: 170px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    resize: none;
}


.drag-and-drop {
    margin-bottom: 150px;
    position: absolute;

}

.upload-post-form section div input {
    display: block;
}

/* .sc-bdvvtL.iciELI,
.PvQvl,
.ref-test {
    height: 755px;
    max-width: 755px;
    width: 755px;
    opacity: 0;
    position: absolute;
    z-index: 1;
    cursor: default;
} */


.drop-zone {
    border: red 1px solid;
    display: block;
    height: 100%;
    width: 100%;
}

.post-form.word-count {
    font-size: 15px;
    color: rgba(88, 87, 87, 0.363);
    align-self: flex-end;
    padding-right: 15px;
}

.post-form.word-count.active {
    color: tomato;
}

.upload-post-form input {
    padding-left: 10px;
}

.form button {
    margin: 35px 0;
    width: 170px;
    height: 36px;
    border-radius: 5px;
    border: none;
    align-self: center;
}


.upload-image-button {
    width: 166px;
    height: 30px;
    background-color: var(--button-blue);
    color: white;
    padding: 5px 9px;
    font-size: 15px;
    position: absolute;
    bottom: 36.5%;
    font-family: 'lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
    /* top: 50px; */
    /* color: pink; */
}

.file-error {
    font-family: 'lato', sans-serif;
    position: absolute;
    bottom: 80px;
    font-size: 20px;
    color: tomato;
}
